.owl-prev{
    position: absolute;
    left: -2%;
    top: 30%;
    width: 45px;
    height: 45px;
    border-radius: 50% !important;
    background-color: $color-white-0 !important;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
    
    span{
        @include styleText($color-blue,30px,$fw-normal);
        
    }
}
.owl-next{
    position: absolute;
    right: -2%;
    top: 30%;
    width: 45px;
    height: 45px;
    border-radius: 50% !important;
    background-color: $color-white-0 !important;
    box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);
    span{
        @include styleText($color-blue,30px,$fw-normal);
        
    }
}
